body {
    background: black;
}

#clock {
    text-align: center;
    margin: 130px auto;
    font-size: 150px;
    color: white;
    font-family: 'Cute Font', cursive;
}

#clock:hover {
    transform: scale(1.3);
    transition: 1s all;
}

.btn {
    width: 5%;
    margin: 5px 600px;
    padding: 5px 0;
    background: #737c7e;
    color: white;
    border: none;
    border-radius: 10px;    
    transition: 1s all;
}

.btn:hover {
    transform:  scale(1.4);    
}